<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodtraceability.mapper.FileAttachmentMapper">

    <select id="selectFilePage" resultType="com.foodtraceability.entity.FileAttachment">
        SELECT * FROM file_attachment
        <where>
            deleted = 0
            <if test="businessType != null and businessType != ''">
                AND business_type = #{businessType}
            </if>
            <if test="businessId != null and businessId != ''">
                AND business_id = #{businessId}
            </if>
            <if test="uploadUserId != null and uploadUserId != ''">
                AND upload_user_id = #{uploadUserId}
            </if>
            <if test="contentType != null and contentType != ''">
                AND content_type LIKE CONCAT('%', #{contentType}, '%')
            </if>
            <if test="originalName != null and originalName != ''">
                AND original_name LIKE CONCAT('%', #{originalName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="startTime != null">
                AND create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND create_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <update id="incrementDownloadCount">
        UPDATE file_attachment 
        SET download_count = download_count + 1, update_time = CURRENT_TIMESTAMP
        WHERE attachment_id = #{attachmentId} AND deleted = 0
    </update>

    <select id="selectByBusinessId" resultType="com.foodtraceability.entity.FileAttachment">
        SELECT * FROM file_attachment 
        WHERE business_type = #{businessType} 
          AND business_id = #{businessId} 
          AND deleted = 0
        ORDER BY create_time ASC
    </select>

    <select id="countByUser" resultType="long">
        SELECT COUNT(*) FROM file_attachment 
        WHERE upload_user_id = #{userId} AND deleted = 0
    </select>

    <select id="sumFileSizeByUser" resultType="long">
        SELECT COALESCE(SUM(file_size), 0) FROM file_attachment 
        WHERE upload_user_id = #{userId} AND deleted = 0
    </select>

</mapper>
