<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodtraceability.mapper.RoleDepartmentMapper">

    <!-- 批量插入角色部门关联 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO role_departments (role_id, department_id, create_time, created_by)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.departmentId}, NOW(), #{item.createdBy})
        </foreach>
    </insert>

</mapper>
